<!-- Thanh Tam Dang 301393448 -->
<header>
    <nav>
      <div class="logo">
          <img src="/images/logo1.png" alt="Logo">
      </div>
      <ul class="link">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </nav>
  </header>
  