<!-- 
Thanh Tam Dang 301393448
-->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <h1 class="about-header">About Me</h1>
            <div class="about-container">
                <div class="aboutDesc">
                    <span>Hello! My name is 
                    <b> Thanh Tam Dang </b>
                     and I am from Vietnam. I specialize in creating dynamic and user-friendly websites that enhance the online experience. I am passionate about programming, designing, and bringing creative ideas to life on the web. Happy to connect and collaborate!</span>
                     
                    </div>
                <div class="about-img">
                    <img src="/images/bg.png" class="bg">
                    
                </div>
            </div>
            <a href="/resume.pdf" target="_blank" class="btnRes">Download My Resume</a>
            <%- include('partials/footer') %>
    </body>

</html>