<!-- Thanh Tam Dang 301393448 -->

<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <section class="project">
        <h1 class="project-header">My Projects</h1>
        <span class="proDesc">Here are the projects that I have worked on and developed</span>
        <div class="project-container">

            
                <h2>Ramdom memes Website</h2>
                <img src="/images/Random memes.png">
                <p> Random meme appears when you click generate</p>
                    
                </ficaption>
            

            
                <h2>Weather Forecast</h2>
                <img src="/images/weather.png" >
                <p>A weather forecast website provides temperature, humidity, rain, wind, severe weather alerts, and hourly and daily forecasts for users.</p>
               
            

            
                <h2>JDM Cars Website</h2>
                <img src="/images/jdm.png" >
                <p>This website showing JDM cars.</p>
                   
            
        </div>
    </section>
        
        <%- include('partials/footer') %>
    </body>

</html>