<!-- 
 Thanh Tam Dang 301393448
-->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
          

            <section class='services'>
                <span class="serTitle"><b>Services</b></span>
               <div class="serBars">
               <div class="serBar">
                   <img src="./images/html.png" alt="" class="serBarImg" />
                   <div class="serBarText">
                       <h2>HTML5</h2>
                       <p>Develop Website</p>
                   </div>
               </div>
               
   
               <div class="serBar">
                   <img src="./images/react.png" alt="" class="serBarImg" />
                   <div class="serBarText">
                       <h2>ReactJS</h2>
                       <p>Mobile App, Website</p>
                   </div>
               </div>
   
               <div class="serBar">
                   <img src="./images/Java.png" alt="" class="serBarImg" />
                   <div class="serBarText">
                       <h2>Java</h2>
                       <p>Programing</p>
                   </div>
   
                   
   
               </div>
               </div>
           </section>
            <%- include('partials/footer') %>
    </body>

</html>
